Forecast for {{city}}

<hr/>
No. of days :    <a href ="#/forecast/2" ng-class= "{'bg-success': days === '2'}">2</a> | 
				 <a href ="#/forecast/4" ng-class= "{'bg-success': days === '4'}">4</a> | 
				 <a href ="#/forecast/6" ng-class= "{'bg-success': days === '6'}">6</a> |
				 <a href ="#/forecast/8" ng-class= "{'bg-success': days === '8'}">8</a> | 
				 <a href ="#/forecast/10" ng-class= "{'bg-success': days === '10'}">10</a>

<hr/>

<div ng-repeat ="w in weatherResult.list">
	<div class ="row"> 
		<div class ="col-md-12">
		<weatherreport weather-day="w" convert-to-standard="convertTemparature(degK)" convert-to-date="convertDate(dt)" date-format="MMM d, y"></weatherreport>
			
		</div>
	</div>

</div> 

<a href="#/">Back to home page!</a>